.item {
  background: #fff;
  position: relative;
  width: calc(100vw - 3em);
  height: calc(100vh - 5em);
  transition: transform 0.2s ease-in-out;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2);
}

.item + .item {
  margin-top: 1em;
}

.item:hover {
  z-index: 100;
  transform: scale(1.01);
}

.active:hover {
  z-index: 10;
  transform: scale(1);
}
