.wrapper {
  top: 1.5em;
  right: 1em;
  left: 1.5em;
  bottom: 1.5em;
  position: fixed;
  transition: transform 0.4s ease-in-out;
}

.grid {
  width: 100%;
  position: absolute;
  transition: transform 0.7s ease-in-out;
}

.home ~ .grid {
  transform: translate3d(0, 0, 0);
}

@for $i from 1 through 12 {
  .meme-#{$i} ~ .grid {
    transform: translate3d(0, calc(#{-$i} * (100vh - 5em) - #{$i} * 1em + 1em), 0);
  }
}
