.container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  grid-gap: 0;
  display: grid;
  position: absolute;
  grid-template-rows: minmax(1em, 4em) 1fr minmax(1em, 4em);
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
}

.image {
  grid-row: 1 / span 3;
  grid-column: 1 / span 2;
  justify-self: center;
  align-self: center;
}

.image img {
  max-width: inherit;
  height: calc(80vh - 5em);
}
